<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>@1637</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}"/>
    <style type="text/css">
        th {
            text-align: center;
            font-weight: bold;
            border-top: none !important;
        }

        th, td {
            white-space: nowrap;
        }

        .mt-20 {
            margin-top: 20px;
        }
    </style>
</head>

<body>
<div class="container">
    <table class="table table-striped mt-20 text-center" id="buildingsTable">
        <thead>
        <tr>
            <th>
                <a th:href="@{'/' + ${sind} + '/' + ${currentPage} + '?field=control&dir=' + ${reverseSortDir}}">Под контролем</a>
            </th>
            <th>
                <a th:href="@{'/' + ${sind} + '/' + ${currentPage} + '?field=size&dir=' + ${reverseSortDir}}">Размер</a>
            </th>
            <th>Недвижимость</th>
            <th>
                <a th:href="@{'/' + ${sind} + '/' + ${currentPage} + '?field=sektor&dir=' + ${reverseSortDir}}">Сектор</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="building : ${buildings}">
            <td th:text="${building.underControl.id}"></td>
            <td th:text="${building.size}"></td>
            <td >
                <a th:href="@{${building.url}}" th:text="${building.name}" target="_blank"></a>
            </td>
            <td th:text="${building.sektor.name}"></td>

        </tr>
        </tbody>
    </table>
    <!-- pagination control -->
    <div th:if="${totalPages > 1}">
        <div class="row col-sm-10">
            <div class="col-sm-2">
                Total : <strong>[[${totalItems}]]</strong>
            </div>
            <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{'/' + ${sind} + '/' + ${i} + '?field=' + ${sortField} + '&dir=' + ${sortDir}}"
                           th:if="${currentPage != i}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span>
                    </span>
            </div>
            <div class="col-sm-1">
                <a th:href="@{'/' + ${sind} + '/' + ${currentPage + 1} + '?field=' + ${sortField} + '&dir=' + ${sortDir}}"
                   th:if="${currentPage < totalPages}">
                    Next
                </a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>
            <div class="col-sm-1">
                <a th:href="@{'/' + ${sind} + '/' + ${totalPages} + '?field=' + ${sortField} + '&dir=' + ${sortDir}}"
                   th:if="${currentPage < totalPages}">
                    Last
                </a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>

</html>